html{
	font-size: 62.5%;
}

.home{
	background: url('../img/bg-leaves-lowest.jpg') center center fixed no-repeat #00ffff;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.2em;
}
/*centering*/
.container{
	width: 960px;
	margin: 0px auto;
}
/*inside cnetering*/
.centerme{
	text-align: center;
}
.box{
	color: rgba(167, 163, 126, 1);
	border: solid;
	background: rgba(255, 255, 255, .8);
	padding: 10px;
	/*top bottom left right, symmetrical, so also top and bottotm, 
	left and right if 2 values, all 4 if one value */
	margin-bottom: 10px;
}

.hide{
	display: none;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 1.6em;
	font-weight: normal;
	color: rgba(4, 99, 128, 1);
}

.redtext{
	color: rgba(0, 47, 47 1);
}

nav a{
	font-family: 'Courier New', monospace;
	font-size: 1.3em;
	text-decoration: none;
	word-spacing: -.3em
}

nav ul{
	margin-left: -40px;
}

nav ul li{
	list-style-type: none;
	display: inline;
	margin-right: 35px;
}

nav a:link, nav a:visited{
	color: rgba(167, 163, 126, 1);

}

nav a:hover, nav a:active{
	background: rgba(0, 47, 47, 1);
	color: #EFECCA;
}