/* css reset, clearfix */

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix{
	display: table;
	content: " ";
	clear: both;
}

/* setup floats and container */

.left{
	float: left;
}

.right{
	float: right;
}

.container{
	width: 960px;
	margin-top: 0 auto;
}

/* add font for title in .woff format */

@font-face{
	font-family: 'growth';
	src: url('CFFlowersofDestinyPersonal-webfont.woff'), format('woff');
}

/* begin stylizing webpage*/

.main{
	font-size: 17px;
}

.logo{
	font-family: 'growth';
}

nav{
	width: 136px;
	height: 906px;
}

nav ul li{
	display: inline-block;
	font-size: 28px;
}

nav a{
	text-decoration: none;
	font-family: 'Cutive Mono', Mono;
}

.widthzone{
	width: 776px;
	margin: 0 auto;
}

.boxlight{
	color: #193441;
	border: solid;
	background: rgba(248, 243, 221, 1);
	padding: 10px;
	/*top bottom left right, symmetrical, so also top and bottotm, 
	left and right if 2 values, all 4 if one value */
	margin-bottom: 10px;
	/*curves borders*/
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.boxdark{
	border: solid;
	background: rgba(146, 166, 178, 1);
	padding: 10px;
	/*top bottom left right, symmetrical, so also top and bottotm, 
	left and right if 2 values, all 4 if one value */
	margin-bottom: 10px;
	/*curves borders*/
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.sociallinks{

}

.firstnav{
	margin-top: 246px;
}
.lastnav{
	margin-bottom: 349px;
}

.betweenav{
	margin-bottom: 151px;
}

a:link, a:visited{
	color: #fcfff5;
}

a:hover, a:active{
	color: #fcfff5;
}











