/* css reset, clearfix */

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after{
	display: table;
	content: " ";
	clear: both;
}

/* setup floats and container and center*/

.left{
	float: left;
}

.right{
	float: right;
}

.container{
	width: 960px;
	margin-top: 0 auto;
}

.center{
	text-align: center;
}

/* add font for title in .woff format */

@font-face {
    font-family: 'cf_flowers_of_destiny_persoRg';
    src: url('CFFlowersofDestinyPersonal-webfont.eot');
    src: url('CFFlowersofDestinyPersonal-webfont.eot?#iefix') format('embedded-opentype'),
         url('CFFlowersofDestinyPersonal-webfont.woff2') format('woff2'),
         url('CFFlowersofDestinyPersonal-webfont.woff') format('woff'),
         url('CFFlowersofDestinyPersonal-webfont.ttf') format('truetype'),
         url('CFFlowersofDestinyPersonal-webfont.svg#cf_flowers_of_destiny_persoRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* begin stylizing webpage*/

.main{
	font-size: 17px;
}

.logo{
	background: url('../img/logo.png') center center no-repeat rgba(146, 166, 178, 1)!important;
	width: 536px;
	height: 96px;
}

.logo h1{
	font-size: 1px;
	position: absolute;
	top: -999px;
	left: -999px;
}

ul li{
	text-decoration: none;
	display: inline-block;
	font-size: 84px;
	margin-left: 38px;
}

nav{
	width: 136px;
	height: 906px;
}

nav ul li{
	display: inline-block;
	font-size: 28px;
	margin-left: -12px;
}

nav a{
	text-decoration: none;
	font-family: 'Cutive Mono', Mono;
}

.widthzone{
	width: 804px;
	margin: 0 auto;
}

.boxlight{
	color: #193441;
	border: solid;
	background: rgba(248, 243, 221, 1);
	/*top bottom left right, symmetrical, so also top and bottotm, 
	left and right if 2 values, all 4 if one value */
	/*curves borders*/
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.boxdark{
	border: solid;
	background: rgba(146, 166, 178, 1);
	/*top bottom left right, symmetrical, so also top and bottotm, 
	left and right if 2 values, all 4 if one value */
	/*curves borders*/
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.sociallinks{

}

.firstnav{
	margin-top: 246px;
}
.lastnav{
	margin-bottom: 349px;
}

.betweenav{
	margin-bottom: 151px;
}

a:link, a:visited{
	color: #fcfff5;
}

a:hover, a:active{
	color: #193441;
}


.containzone{
	width: 804px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.marginfirst{
	margin-left: 48px;
}

.marginlast{
	margin-right: 36px;
}

.zone{
	font-size: 28px;
	text-align: left;
	color: #193441;
}

.title{
	font-size: 32px;
	text-align: left;
	color: #91aa9d;
}

.storetitle{
	color: #fcfff5;
	margin-left: 15px;
	margin-top: 5px;
}

.storebody{
	color: #fcfff5;
	font-size: 28px;
	text-align: left;
	margin-left: 15px;
	margin-right: 19px;
	margin-bottom: 35px;
	line-height: 135%;
}

.containnav{
	width: 136px;
}
.containstore{
	width: 252px;
}

.containimg{
	width: 536px;
}

.marginleftimg{
	margin-left: 20px;
	padding: -10px;
}

.adjustzone{
	padding-left: 0px;
}

.navtop{
	margin-top: 10px;
}